@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<footer class="footer">
        <div class="container footer-grid">

            <div class="grid-footer-one">
                <a href="/" class="grid-item-logo" ><img src="images/logotype-white.svg" alt="CritoLogoWhite"></a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
            </div>

            <div class="grid-footer-part">
                <h5>Company</h5>
                <a href="/">About</a>
                <a href="/">Features</a>
                <a href="/">Works</a>
                <a href="/">Career</a>
            </div>

            <div class="grid-footer-part">
                <h5>Help</h5>
                <a href="/">Customer Support</a>
                <a href="/">Delivery Details</a>
                <a href="/">Terms & Conditions</a>
                <a href="/">Privacy Policy</a>
            </div>

            <div class="grid-footer-part">
                <h5>Resources</h5>
                <a href="/">Free eBooks</a>
                <a href="/">Development Tutorial</a>
                <a href="/">How to - Blog</a>
                <a href="/">Youtube Playlist</a>
            </div>

            <div class="grid-footer-part">
                <h5>Link</h5>
                <a href="/">Free eBooks</a>
                <a href="/">Development Tutorial</a>
                <a href="/">How to - Blog</a>
                <a href="/">Youtube Playlist</a>
            </div> 
        </div>

        <div class="footer-container">
            <div class="footer-img">
                <img src="/images/background-lines-white-right.svg" alt="picture">
            </div>
        </div>

        <div class="footer-border-line"></div>

        <div class="container lower-footer-container">
            <div class="lower-footer">
                <div class="footer-rights">
                    <p>© @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</p>
                </div>

                <div class="footer-media">
                    <a href="/"><i class="fa-brands fa-facebook"></i></a>
                    <a href="/"><i class="fa-brands fa-twitter"></i></a>
                    <a href="/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="/"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>

    </footer>