@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


 <section class="map">
    <iframe src="@Model.Value("googleMapsURL")" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
