@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


 <section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d65125.20134769924!2d17.89479688586405!3d59.33024007943692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smaps!5e0!3m2!1ssv!2sse!4v1694720728408!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
