@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{ 
    var site = Model.Root();
    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray(); 
}




<div class="top-menu container">
    <img src="/images/logotype.svg" alt="Crito logo">
    <div class="contact-info">

        <div class="contact-links">
            <div class="contact-information">
                <div class="phone-number contact-link">
                    <i class="fa-regular fa-phone-volume menu-icon"></i>
                    <p>+46 (8) 121 470 50</p>
                </div>
                <div class="email contact-link">
                    <div class="menu-divider"></div>
                    <i class="fa-regular fa-envelope menu-icon"></i>
                    <p>info@crito.com</p>
                </div>
                <div class="adress contact-link">
                    <div class="menu-divider"></div>
                    <i class="fa-regular fa-location-dot menu-icon"></i>
                    <p>Sveavägen 31, 111 34 STOCKHOLM</p>
                </div>
            </div>
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        
        <div class="middle-divider"></div>

        <div class="menu-links">
            <div class="menu-options">
 
                @if (selection?.Length > 0)
                {
                    <ul>
                        @foreach (var item in selection)
                        {
                            <a  class="menu-option @(item.IsAncestorOrSelf(Model) ? "active": null)" href="@item.Url(PublishedUrlProvider)"  ><p>@item.Name</p></a>
                        }
                    </ul>
                }
    
            </div>
            <button class="login-btn yellow-btn"><p>Login</p><i class="fa-solid fa-arrow-up-right"></i></button>
        </div>
    </div>
</div>