@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="project-section">
    <p>Project & Case Studies </p>
    <h1>Let’s Looks Our Global Projects</h1>
    <div class="big-grid container">
        <div class="grid-card">
                <img src="images/img1.jpg" alt="grid image">
            <p>Grow your business</p>
            <div class="gray-line"></div>
            <button class="white-button">Read More 
                <i class="fa-solid fa-arrow-up-right"></i>
            </button>
        </div>
        <div class="grid-card">
                <img src="images/img2.jpg" alt="grid image">
            <p>Why your client needs a responsive website</p>
            <div class="gray-line"></div>
            <button class="white-button">Read More 
                <i class="fa-solid fa-arrow-up-right"></i>
            </button>
        </div>
        <div class="grid-card">
                <img src="images/img3.jpg" alt="grid image">
            <p>Educate your employees to get better results</p>
            <div class="gray-line"></div>
            <button class="white-button">Read More 
                <i class="fa-solid fa-arrow-up-right"></i>
            </button>
        </div>
        <div class="grid-card">
                <img src="images/img4.jpg" alt="grid image">
            <p>Business Insights is a important piece of your business</p>
            <div class="gray-line"></div>
            <button class="white-button">Read More 
                <i class="fa-solid fa-arrow-up-right"></i>
            </button>
        </div>
    </div>
    <button class="black-btn">All Recent Projects <i class="fa-solid fa-arrow-up-right"></i></button>
</section>