@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="news-updates">
    <div class="container news-updates-two">
        <h2>Get News Updates By Signup </h2>
        <input class="subscribe-input" type="text" id="myText" name="myText" placeholder="username@domain.com">
        <button class="subscribe-button">Subscribe <i class="fa-solid fa-arrow-up-right"></i></button>
    </div>
    <img src="~/images/background-wavy-lines.svg" alt="wavy lines">
</section>