@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="orange-section">
        <div class="container">
            <div class="meet-our-team">
                <div class="team-title">
                    <p>Meet Our Team</p>
                    <div class="browse-team">
                        <h1>Experience Team Members</h1>
                        <button class="yellow-btn">Browse Team <i class="fa-solid fa-arrow-up-right"></i></button>
                    </div>
                </div>
                <div class="team-cards">
                    <div class="team-card">
                        <img src="images/kristine.jpg" alt="people">
                        <h2>Kristine Palmer</h2>
                        <p>Chef Operation Officer</p>
                    </div>
                    <div class="team-card">
                        <img src="images/mark.jpg" alt="people">
                        <h2>Mark Aubri</h2>
                        <p>Senior Consultant</p>
                    </div>
                    <div class="team-card">
                        <img src="images/kimberly.jpg" alt="people">
                        <h2>Kimberly Hansen</h2>
                        <p>Senior Consultant</p>
                    </div>
                    <div class="team-card">
                        <img src="images/justin.jpg" alt="people">
                        <h2>Justin Willoman</h2>
                        <p>Senior Tech Consultant</p>
                    </div>
                </div>
                <div class="small-dots">
                    <i class="fa-solid fa-circle unactive-color"></i>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle unactive-color"></i>
                    <i class="fa-solid fa-circle unactive-color"></i>
                    <i class="fa-solid fa-circle unactive-color"></i>
                </div>
            </div>
        </div>
        <div class="reviews">
            <div class="container">
                <p>Testimonial</p>
                <h1>What Our Client Says</h1>
                <div class="review-cards">
                    <div class="review-card">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="comment">
                            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"
                        </div>
                        <div class="user-review">
                            <div class="picture"><img src="images/cassandra.jpg" alt="person"></div>
                            <div>
                                <h2>Cassandra Warren</h2>
                                <p>Business Manager, Dorfus</p>
                            </div>
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="comment">
                            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"
                        </div>
                        <div class="user-review">
                            <div class="picture"><img src="images/amanda.jpg" alt="person"></div>
                            <div>
                                <h2>Amanda Tulling</h2>
                                <p>Senior Developer, Square</p>
                            </div>
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="comment">
                            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"
                        </div>
                        <div class="user-review">
                            <div class="picture"><img src="images/jack.jpg" alt="person"></div>
                            <div>
                                <h2>Jack McDogglas</h2>
                                <p>Key Account Manager, Gobona</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="black-btn">All Reviews <i class="fa-solid fa-arrow-up-right"></i></button>
            </div>
        </div>
    </section>