@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ArticleItemPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "LayoutWithBreadcrumb.cshtml";
}




    <section class="digitalization container">
        <h2>How To Use Digitalization</h2>
        <h2>In The Classroom</h2>
        <div class="digitalization-points">
            <h4>Mar 25, 2023</h4>
            <h4><i class="fa-solid fa-circle" style="color: #f9d873;"></i></h4>
            <h4>Business</h4>
            <h4><i class="fa-solid fa-circle" style="color: #f9d873;"></i></h4>
            <h4>Kimberly Hansen</h4>
        </div>

        <div class="digitalization-flex container">
            <div class="digitalization-left">
                <img src="/images/im1.jpg" alt="">
                <h4 class="text-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</h4>
                <h4 class="text-1">Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec lorem. In porttitor. Donec laoreet nonummy augue. uspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.
                </h4>
                <h4 class="text-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. unc viverra imperdiet enim. Fusce est. Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.</h4>
                <h4 class="text-1">Aenean nec lorem. In porttitor. Donec laoreet nonummy augue.
                    Suspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.
                </h4>
                <div class="quote">
                    <h2><i class="fa-sharp fa-solid fa-quote-right"></i></h2>
                    <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</h3>    
                </div>
                <h4 class="text-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. unc viverra imperdiet enim. Fusce est. Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </h4>
                <button class="button-1">Digitalization</button>
                <button class="button-2">School</button>
                <button class="button-3">IT</button>
                <button class="button-4">Design</button>
                <button class="button-5">Work</button>
                <button class="button-6">Tech</button>
            </div>
    
            <div class="digitalization-right">
                <input class="search-input" type="text" id="myText" name="myText" placeholder="Type to search...">
                
                <div class="recent-posts">

                    <a href="/">Recent Posts</a>

                    <div class="post-part-one">
                        <h5>How To Blow Through Capital At An</h5>
                        <h5>Incredible Rate</h5>
                        <h6>Jan 14, 2020</h6>
                        <p class="border"></p>
                    </div>

                    <div class="post-part-two">
                        <h5>Design Studios That Everyone Should </h5>
                        <h5>Know About? </h5>
                        <h6>Jan 14, 2020</h6>
                        <p class="border"></p>
                    </div>

                    <div class="post-part-three">
                        <h5>How did we get 1M+ visitors in 30 days</h5>
                        <h5>without anything!</h5>
                        <h6>Jan 14, 2020</h6>
                        <p class="border"></p>
                    </div>

                    <div class="post-part-four">
                        <h5>Figma On Figma: How We Built Our </h5>
                        <h5>Website Design System</h5>
                        <h6>Jan 14, 2020</h6>
                    </div>
                    
                </div>

                <div class="categories">

                    <a class="category-title" href="/">Categories</a>

                    <div class="subcategories technology">
                        <h5 class="subcategory-black">Technology - </h5>
                        <h5 class="subcategory-gray">&nbsp20 posts</h5>
                    </div>

                    <div class="subcategories">
                        <h5 class="subcategory-black">Freelancing - </h5>
                        <h5 class="subcategory-gray">&nbsp07 posts</h5>
                    </div>

                    <div class="subcategories">
                        <h5 class="subcategory-black">Writing - </h5>
                        <h5 class="subcategory-gray">&nbsp16 posts</h5>
                    </div>

                    <div class="subcategories">
                        <h5 class="subcategory-black">Marketing - </h5>
                        <h5 class="subcategory-gray">&nbsp11 posts</h5>
                    </div>

                    <div class="subcategories">
                        <h5 class="subcategory-black">Business - </h5>
                        <h5 class="subcategory-gray">&nbsp35 posts</h5>
                    </div>

                    <div class="subcategories">
                        <h5 class="subcategory-black">Education - </h5>
                        <h5 class="subcategory-gray">&nbsp14 posts</h5>
                    </div>

                </div>


            </div>
        </div>
    </section>
    

    <section class="news">
        <div class="container">
            <p>Article & News</p>
            <div class="news-title">
                <h1>Get Every Single Articles & News</h1>
                <button class="white-btn">Browse Articles <i class="fa-solid fa-arrow-up-right"></i></button>
            </div>
            <div class="news-grid">
                <div class="news-card">
                    <div class="yellow-square">
                        <h2>25</h2>
                        <p>Mar</p>
                    </div>
                    <img src="/images/im1.jpg" alt="news">
                    <p>Business</p>
                    <h3>How To Use Digitalization In The Classroom</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
                <div class="news-card">
                    <div class="yellow-square">
                        <h2>17</h2>
                        <p>Mar</p>
                    </div>
                    <img src="/images/im2.jpg" alt="news">
                    <p>Business</p>
                    <h3>How To Implement Chat GPT In Your Projects</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
                <div class="news-card">
                    <div class="yellow-square">
                        <h2>13</h2>
                        <p>Mar</p>
                    </div>
                    <img src="/images/im2.jpg" alt="news">
                    <p>Business</p>
                    <h3>The Guide To Support Modern CSS Design</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </div>
            <div class="small-dots">
                <i id="black-ball" class="fa-solid fa-circle unactive-color"></i>
                <i class="fa-solid fa-circle"></i>
                <i class="fa-solid fa-circle unactive-color"></i>
                <i class="fa-solid fa-circle unactive-color"></i>
                <i class="fa-solid fa-circle unactive-color"></i>
            </div>
        </div>
    </section>
