@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "LayoutWithBreadcrumb.cshtml";
}



    <section class="news">
        <div class="container">
            <div class="news-title">
                <h1>Our News & Articles</h1>
            </div>
            <div class="news-grid">
                
                
                <div class="news-card">
                    <div class="yellow-square">
                        <h2>25</h2>
                        <p>Mar</p>
                    </div>
                    <img src="/images/im1.jpg" alt="news">
                    <p>Business</p>
                    <h3>How To Use Digitalization In The Classroom</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
                
                <div class="news-card">
                    <div class="yellow-square">
                        <h2>17</h2>
                        <p>Mar</p>
                    </div>
                    <img src="/images/im2.jpg" alt="news">
                    <p>Business</p>
                    <h3>How To Implement Chat GPT In Your Projects</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
                
                <div class="news-card">
                    <div class="yellow-square">
                        <h2>13</h2>
                        <p>Mar</p>
                    </div>
                    <img src="/images/im3.jpg" alt="news">
                    <p>Business</p>
                    <h3>The Guide To Support Modern CSS Design</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </div>

            <div class="news-grid">
                
                <div class="news-card">
                    <div class="yellow-square">
                        <h2>12</h2>
                        <p>Mar</p>
                    </div>
                    <img src="/images/im4.jpg" alt="news">
                    <p>Business</p>
                    <h3>Why You Need To Implement The Five S's</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
                
                <div class="news-card">
                    <div class="yellow-square">
                        <h2>07</h2>
                        <p>Mar</p>
                    </div>
                    <img src="/images/im5.jpg" alt="news">
                    <p>Business</p>
                    <h3>Get More Involved With Your End Users</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
                
                <div class="news-card">
                    <div class="yellow-square">
                        <h2>02</h2>
                        <p>Mar</p>
                    </div>
                    <img src="/images/im6.jpg" alt="news">
                    <p>Business</p>
                    <h3>Guided Tour Of Our New Head Office In Stockholm</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </div>

            <div class="news-grid">
                
                <div class="news-card">
                    <div class="yellow-square">
                        <h2>28</h2>
                        <p>Feb</p>
                    </div>
                    <img src="/images/img4.jpg" alt="news">
                    <p>Business</p>
                    <h3>Using Business Intelligence To Get Insights Into Our Businesses</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
                
                <div class="news-card">
                    <div class="yellow-square">
                        <h2>18</h2>
                        <p>Feb</p>
                    </div>
                    <img src="/images/img2.jpg" alt="news">
                    <p>Business</p>
                    <h3>Apple Has Released New Products. Are They Any Good?</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
                
                <div class="news-card">
                    <div class="yellow-square">
                        <h2>11</h2>
                        <p>Feb</p>
                    </div>
                    <img src="/images/img3.jpg" alt="news">
                    <p>Business</p>
                    <h3>How To Improve Your Teams And Get A Better Result</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </div>

            <div class="moving-news">
                <button><</button>
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>...</button>
                <button>9</button>
                <button>></button>
            </div>
        </div>
    </section>


    @await Html.PartialAsync("_SearchbarSection")


    