@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ChooseUsChoices)Model.Content;
}


<div class="choice-list mt-3">
    <div class="choice-icon">
        <i class="@content.Value("chooseUsChoicesIcon")"></i>
    </div>
    <div class="choice-text">
        <h3>@content.Value("chooseUsChoicesTitle")</h3>
        <p>@content.Value("chooseUsChoicesDescription")</p>
    </div>
</div>